.container-home {
  padding: 40px 16px;
}

.container-home .header-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home .header-add a {
  background-color: #000;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 32px;
}

.container-list {
  padding: 16px 0;
}

@media (min-width: 600px) {
  .container-list {
    margin: 32px auto;
    max-width: 600px;

    display: grid;
    grid-template: 400px / auto auto;
    grid-gap: 32px;
  }
}

@media (min-width: 1200px) {
  .container-list {
    margin: 32px auto;
    max-width: 1200px;

    display: grid;
    grid-template: 400px / auto auto auto auto;
    grid-gap: 32px;
  }
}